# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# PyCharm
.idea/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Logs
*.log
logs/

# Env files
.env
.env.*

# Docker
**/__pycache__/
**/*.pyc
*.pid
docker-compose.override.yml

# PostgreSQL data
pgdata/

# System
.DS_Store
Thumbs.db
